<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.oucho.radio2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:launchMode="singleTask">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".egaliseur.EqualizerActivity"
            android:label="@string/action_equalizer"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.oucho.radio2.MainActivity"/>
        </activity>

        <service android:name=".Player" />

        <receiver
            android:name=".egaliseur.AudioEffectsReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="org.oucho.radio2.OPEN_AUDIO_EFFECT_SESSION"/>
                <action android:name="org.oucho.radio2.CLOSE_AUDIO_EFFECT_SESSION"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>